.tours/**
.vscode/**
node_modules/**
src/**
test/**
docs/**
.git/**
.github/**
.gitignore
.space
coverage/**
.vscode-test/**
*.vsix
**/*.vsix
**/*.map
*.drawio.svg
package-lock.json
package.lock.json
tsconfig.json
vitest.config.ts
webpack.config.js
